.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background: linear-gradient(45deg, #ff4e50, #f9d423); 
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-radius: 8px; 
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    margin-left: 0.5em;
    font-family: serif; 
}

.link_itens{
    display: flex;
    list-style: none;

}
.link_itens li{
    margin-right: 1.3em;
}
.link_itens a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: 0.4s;
    border-bottom: 2px solid transparent;
    font-weight: bold; 
    font-family: serif;
}
.link_itens a:hover{
    border-color: #fff;
    color: #f9d423; 
}